.image{
    width:100%;
    height: 100%;
}
.phone-image{
    width: 30px;
}

.leafletContainer {
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    margin-bottom: 3rem;
}
.description, .description2{
    display: flex;
}
.cardcont2{
    text-align: left;
}