input{
    padding:10px;
    margin: 10px auto;
    width:100%;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;

}
.listing-form{
    width:50%;
    margin: 0 auto;
}
input[type='file']{
    border: 1px solid;
    background-color: white;
}
.btn{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: #66c20a;
    padding: 8px 15px;
    margin-bottom: 10px;
}